*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
 }

 html {
          /*Variaveis*/
    --bg-color: #98BBF8 ;
    --primary-color:#FFFFFFFF ;
    --secund-color: #0000009c ;
    --text-color: #00082f;  
    --hover-color: #0E33C7C5 ;
    --gradient-colors: #FF3CAC 0%, #784BA0 40%, #2B86C5 77% ;
 }

 body.dark {
    --bg-color:#00082f ;
    --text-color:#FFFFFFFF ;
    --primary-color: #0000009c;
    --secund-color:#FFFFFFFF;
    --hover-color: #784BA0;
 }

 body.pink {
    --bg-color: #d423c6;
    --text-color: rgb(110, 14, 81);
    --hover-color: #b70ec7d5;
    --gradient-colors: #2B86C5 0% , #784BA0 40%, #FF3CAC 77%;
 }

body {
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    max-width: 350px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: inset 0 0 15em var(--primary-color), 0 0 1em var(--secund-color);
    
}

img {
    width:100%
}

img.avatar {
    border-radius: 50%;
    width:120px;
    height: 120px;
    padding: 3.7;
    border:var(--hover-color) solid 4px;
}

h1 {
    font-size: 32px;
    color: var(--text-color);
    margin-top: 24px;
    margin-bottom: 8px;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: var(--text-color);
    opacity: 0.8;
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 48px 0;
}


ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(315deg, var(--gradient-colors));
    color:var(--primary-color);
    text-transform: uppercase;
    font-size: 14px;

    margin-bottom: 16px;
    border-radius: 14px;
 }

ul li a:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    box-shadow: inset 0 0 0 5px  var(--hover-color) ;
}

footer {
    font-weight: 500;
    font-size: 14px;
    color:var(--hover-color);
    opacity: 0.6;
    transition: opacity 400ms;
}

footer:hover {
    opacity: 1;
}

footer a {
    color:var(--text-color);
}